# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Config files
.remote-sync.json

# Localstorage
localdata/

/config/keys_dev.js
package-lock.json
