/*
   COLORS.SCSS
   - Defines theme colors
   ========================================================================== */

$mainBlue: #3D99FE;
$darkBlue: #526478;

$white: #FFF;
$black: #000;

$lightGray: #F3F3F3;
$medGray: #545454;

$yellow: #ffe49e;
$green: #9fd08c;
$orange: #fd8524;
