@import '../../App';

.line-chart-container{
  padding:0 2em;
  height:20em;
  width:100%;
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: 95% 5%;
  grid-template-areas:
    "chart"
    "range-control";
}

.line-chart-responsive{
  grid-area:chart;
}

.line-chart{
  border:1px solid $medGray;

  tspan{
    font-size:0.7em;
  }
}

.range-control{
  grid-area:range-control;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;

  button{
    border-radius:0;
    border-top:0;

    &:first-child{
      border-right-width:0;
    }

    &:nth-child(2n){
      border-right-width:0;
    }
  }
}
